<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><span><img src="/assets/img/tamusa_acm_logo.svg" alt="Logo" style="width: 1.25em;"></span>TAMUSA
                        ACM</h3>
                    <p>
                        1 University Way <br>
                        San Antonio, TX 78244<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 210-xxx-xxxx<br>
                        <strong>Email:</strong> tamusa.acm@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="#">Lorem Ipsum</a></li>
                        <li></li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="#">Lorem Ipsum</a></li>
                        <li></li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="#">Lorem Ipsum</a></li>
                        <li></li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="#">Lorem Ipsum</a></li>
                        <li></li><i class="fa fa-chevron-right" aria-hidden="true"></i> <a href="#">Lorem Ipsum</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" class="youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>TAMUSA ACM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="#">#</a></div>
    </div>
</footer><!-- End Footer -->
<!-- JavaScript Files -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>