<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><span><img src="/assets/img/tamusa_acm_logo.svg" alt="Logo" style="width: 1.25em;"></span>TAMUSA
                        ACM</h3>
                    <p>
                        1 University Way <br>
                        San Antonio, TX 78244<br>
                        United States <br><br>
                        <strong>Phone:</strong> 210-784-2315<br>
                        <strong>Email:</strong> tamusa.acm@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="fa fa-chevron-right"></i> 
                            <a href="index">Home</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right"></i>
                            <a href="about">About us</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right"></i> 
                            <a href="services">Services</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right"></i> 
                            <a href="terms">Terms of service</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right"></i> 
                            <a href="privacy">Privacy policy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>External Links</h4>
                    <ul>
                        <li>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            <a href="https://www.tamusa.edu/">Texas A&M University - San Antonio</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            <a href="https://www.acm.org/">Association of Computing Machinery</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            <a href="https://jagsync.tamusa.edu/">JagSync</a>
                        </li>
                        <!--
                        <li>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            <a href="#">Lorem Ipsum</a>
                        </li>
                        <li>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            <a href="#">Lorem Ipsum</a>
                        </li>
                        -->
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.linkedin.com/company/tamusa-acm/" class="linkedin">
                            <i class="fab fa-linkedin" aria-hidden="true"></i></i>
                        </a>
                        <a href="https://www.facebook.com/ACM.TAMUSA" class="facebook">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/acm.tamusa" class="instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/acm_tamusa" class="twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC62zFW0r8-JAgDdvJOhd2aA" class="youtube">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>TAMUSA ACM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="http://burntbootcreek.com"><span style="color: white; text-decoration: none;"> Burnt Boot Creek</span></a></div>
    </div>
</footer><!-- End Footer -->
<!-- JavaScript Files -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>