<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAMUSA ACM Homepage</title>
    <meta name="author" content="Leonard Box">
    <meta name="description" content="To be added...">
    <meta name="keywords" content="">
    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://use.typekit.net/cmc7kuq.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container-fluid" style="padding-left: 0; padding-right: 0;">