<nav>
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo animated fadeInUp">
        <img src="/assets/img/tamusa_acm_logo.svg" alt="Logo">
    </div>
    <div class="menu">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="index">Home</a></li>
            <li class="nav-list-item"><a href="about">About</a></li>
            <li class="nav-list-item"><a href="team">Team</a></li>
            <li class="nav-list-item"><a href="groups">Groups</a></li>
            <li class="nav-list-item"><a href="calendar">Calendar</a></li>
            <li class="nav-list-item"><a href="blog">Blog</a></li>
            <li class="nav-list-item"><a href="contact">Contact</a></li>
        </ul>
    </div>
</nav>