<nav>
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo animated fadeInUp">
        <img src="/assets/img/tamusa_acm_logo.svg" alt="Logo">
    </div>
    <div class="menu">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="index" class="text-white hover-text-tertiary-color">Home</a></li>
            <li class="nav-list-item"><a href="about" class="text-white hover-text-tertiary-color">About</a></li>
            <li class="nav-list-item"><a href="team" class="text-white hover-text-tertiary-color">Team</a></li>
            <li class="nav-list-item"><a href="groups" class="text-white hover-text-tertiary-color">Groups</a></li>
            <li class="nav-list-item"><a href="calendar" class="text-white hover-text-tertiary-color">Calendar</a></li>
            <li class="nav-list-item"><a href="blog" class="text-white hover-text-tertiary-color">Blog</a></li>
            <li class="nav-list-item"><a href="contact" class="text-white hover-text-tertiary-color">Contact</a></li>
        </ul>
    </div>
</nav>