<%- include('layouts/header.ejs') %>

<%- include('layouts/navigation.ejs') %>
<ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3></h3></div></li>
    <li><span>Image 02</span><div><h3></h3></div></li>
    <li><span>Image 03</span><div><h3></h3></div></li>
    <li><span>Image 04</span><div><h3></h3></div></li>
    <li><span>Image 05</span><div><h3></h3></div></li>
    <li><span>Image 06</span><div><h3></h3></div></li>
</ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-5 offset-5">
            <h1 class="title-page">Hello, we are the Association of Computing Machinery, Student Chapter at 
                Texas A&M University - San Antonio</h1>
        </div>
    </div>
</div>
<!--
<div id="preloader"></div> 
-->