<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container" style="height: 6em;"></div>
<div id="calendar" class="page container contact section-bg">
    <div class="section-title">
        <h2>You Are Subscribed!</h2>
        <p>Thank you for subscribing to our mailing llist.</p>
    </div>
    <div class="row">
        <div class="col-3 offset-3">
            <p>Email:</p> 
        </div>
        <div class="col-3">
            <p><%= mailingList.email %></p>
        </div>
    </div>
</div>

<%- include('layouts/footer.ejs') %>