<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container" style="height: 6em;"></div>
<div id="about" class="page container team section-bg">
    <div class="section-title">
        <h2>Team</h2>
    </div>
    <h4 class="text-quaternary-color text-center mt-2 mb-2">Faculty Advisors</h4>
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 offset-md-2">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Dr Jeong Yang</h4>
                                <p class="card-text">Faculty Advisor</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Dr. Jeong Yang</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Dr. Young Lee</h4>
                                <p class="card-text">Faculty Advisor</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Dr. Young Lee</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h4 class="text-quaternary-color text-center mt-2 mb-2">Student Leaders</h4>
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Leonard Box</h4>
                                <p class="card-text">Chair</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Leonard Box</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Petar Lachov</h4>
                                <p class="card-text">Vice Chair</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Petar Lachov</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">James Mick</h4>
                                <p class="card-text">Treasurer</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">James Mick</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Maria De La Garza</h4>
                                <p class="card-text">Secretary</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Maria De La Garza</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Tom Johnson</h4>
                                <p class="card-text">Risk Management Officer</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Tom Johnson</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Selina Urias</h4>
                                <p class="card-text">Community Relations Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Selina Urias</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Education Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Fundraising Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Hackathon Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Membership Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Projects Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">Christian Thomas</h4>
                                <p class="card-text">Public Affairs Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">Christian Thomas</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                        alt="card image"></p>
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">Social Events Director</p>
                                <a href="#" class="btn btn-primary btn-sm primary-color border-primary-color hover-text-tertiary-color"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title text-primary-color">VACANT</h4>
                                <p class="card-text">This is basic card with image on top, title, description and
                                    button.This is basic card with image on top, title, description and button.This is
                                    basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center hover-text-tertiary-color" target="_blank"
                                            href="#">
                                            <i class="fab fa-discord"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>

<%- include('layouts/footer.ejs') %>