
/* About Page */

.about .content h3 {
  font-weight: 600;
  font-size: 1.75em;
  margin-top: 10rem;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #19b2ff;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.why-us .content {
  padding: 3.75em 6.25em 0 6.25em;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 2.25em;
  color: #00537d;
}

.why-us .content h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: .25em;
}

.why-us .content p {
  font-size: 1em;
  color: #c97000;
}

.why-us .accordion-list {
  padding: 0 6.25em 3.75em 6.25em;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 1em;
}

.why-us .accordion-list li {
  padding: 1.5em;
  background: #ffffff;
  border-radius: 0.25em;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
}

.why-us .accordion-list span {
  color: #19b2ff;
  font-weight: 600;
  font-size: 1.25em;
  padding-right: 0.75em;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 0.75em 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #000000;
}

.why-us .accordion-list a.collapsed:hover {
  color: #19b2ff;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 25em;
  }

  .why-us .content {
    padding-top: 2em;
  }

  .why-us .accordion-list {
    padding-bottom: 2em;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 12.5em;
  }
}