$primaryFont: Raleway;
$secondaryFont: Helevicta;
$tertiaryFont: sans-serif;

body {
    
}


.btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #19b2ff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #19b2ff;
}

.btn-learn-more:hover {
  background: #19b2ff;
  color: #ffffff;
  text-decoration: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated {
    -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {

.animated {
    -webkit-animation: none;
    animation: none;
  }
}

/* General Page Styling*/

.page {
  padding: 7.5em 1em 3.75em 1em !important;
  overflow: hidden;
}

.section-bg {
  background-color: #eaeaea;
}

.section-title {
  text-align: center;
  padding-bottom: 2em;
}

.section-title h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  position: relative;
  color: #00537d;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 7.5em;
  height: 0.1em;
  background: #ffffff;
  bottom: 0.1em;
  left: calc(50% - 3.75em);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 3.75em;
  height: 0.25em;
  background: #19b2ff;
  bottom: 0;
  left: calc(50% - 1.5em);
}

.section-title p {
  margin-bottom: 0;
}
